body {
  padding-top: 80px;
}

.navbar-header {
    position: relative;
}

.navbar-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.target-failed-line line {
    stroke: red;
    fill: red;
}

.target-failed-line {
    stroke: red;
    fill: red;
}

.target-passed-line line {
    stroke: green;
    fill: green;
}

.target-passed-line {
    stroke: green;
    fill: green;
}
